fastapi
uvicorn
python-multipart
huggingface_hub
transformers==4.41.2
packaging>=23.2
numpy<2
python-docx
pypdf
pillow
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cpu
torchaudio==2.2.0 --index-url https://download.pytorch.org/whl/cpu